/* mixin */
/* break point */
/* triangle */
.button {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
  margin: 0;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.button:focus {
  outline: none;
}

.button.to-sign-in {
  background-color: #00728d;
}

.button.to-sign-up,
.button.sign-up {
  background-color: #3b9b48;
}

.button.log-in {
  background-color: #454545;
}

.button.cancel {
  background-color: #b7b7b7;
}

.button.update {
  background-color: #333;
}

.button:hover {
  color: #fff;
  opacity: .7;
}

.input-wrapper input {
  border: 1px solid #878787;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*---------------- Common -------------------*/
body {
  color: #555;
  background: url(images/body-bg.jpg) top center/cover no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #555;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.wrapper {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}

.main-content {
  position: relative;
  z-index: 7;
}

.main-content-inner {
  position: relative;
}

.image-wrapper img {
  width: 100%;
}

.col-3 {
  float: left;
  width: 33.33333%;
}

/*---------------- Header -------------------*/
.header {
  padding: 25px 0 15px;
  background-color: #fbfcfd;
}

.site-logo {
  float: left;
  margin-right: 40px;
}

.header-search {
  float: left;
}

.area-language {
  float: right;
}

.area-language li a {
  font-size: 12px;
  display: block;
  min-width: 80px;
  margin-bottom: 5px;
}

.area-language li a:before,
.area-language li a:after {
  content: "";
  display: table;
}

.area-language li a:after {
  clear: both;
}

.area-language span {
  float: left;
}

.area-language img {
  float: right;
  margin-top: 2px;
}

/*---------------- navigation Wrapper -------------------*/
.nav-wrapper {
  position: relative;
  z-index: 9;
  background-color: rgba(63, 63, 63, 0.7);
  padding: 5px 0;
}

.nav-wrapper:before,
.nav-wrapper:after {
  content: "";
  display: table;
}

.nav-wrapper:after {
  clear: both;
}

.nav-wrapper .nav-icon {
  display: none;
  float: left;
  width: 25px;
  height: 23px;
  background: url(images/icons/menu.png) no-repeat;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .nav-wrapper .nav-icon {
    display: block;
  }
}

.nav-wrapper .main-nav {
  float: left;
  margin: 8px 0;
}

@media screen and (max-width: 767px) {
  .nav-wrapper .main-nav {
    display: none;
  }
}

.nav-wrapper .main-nav ul li {
  float: left;
  border-right: 1px solid #29abe2;
}

.nav-wrapper .main-nav ul li:nth-child(4n+1) {
  color: #ff8915;
}

.nav-wrapper .main-nav ul li:nth-child(4n+1) a:focus {
  color: #ff8915;
}

.nav-wrapper .main-nav ul li:nth-child(4n+2) {
  color: #3fff6a;
}

.nav-wrapper .main-nav ul li:nth-child(4n+2) a:focus {
  color: #3fff6a;
}

.nav-wrapper .main-nav ul li:nth-child(4n+3) {
  color: #ff55db;
}

.nav-wrapper .main-nav ul li:nth-child(4n+3) a:focus {
  color: #ff55db;
}

.nav-wrapper .main-nav ul li:nth-child(4n) {
  color: #56c985;
}

.nav-wrapper .main-nav ul li:nth-child(4n) a:focus {
  color: #56c985;
}

.nav-wrapper .main-nav ul li:first-child a {
  margin-left: 10px;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+1) a:after {
  background-color: #ff8915;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+1) a:before {
  border-top-color: #ff8915;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+2) a:after {
  background-color: #3fff6a;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+2) a:before {
  border-top-color: #3fff6a;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+3) a:after {
  background-color: #ff55db;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n+3) a:before {
  border-top-color: #ff55db;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n) a:after {
  background-color: #56c985;
}

.nav-wrapper .main-nav ul li.active:nth-child(4n) a:before {
  border-top-color: #56c985;
}

.nav-wrapper .main-nav ul li a {
  position: relative;
  display: block;
  margin: 0 30px;
  height: 30px;
  font-size: 18px;
  color: inherit;
  line-height: 30px;
}

.nav-wrapper .main-nav ul li a:hover {
  color: inherit;
}

.nav-wrapper .main-nav ul li a:after {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  content: '';
  background-color: transparent;
}

.nav-wrapper .main-nav ul li a:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  margin-top: 3px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.area-user {
  position: relative;
  float: right;
}

.area-user .button {
  margin-top: 8px;
  margin-left: 10px;
  float: left;
}

.area-user .button:focus {
  color: #fff;
}

.area-user .current-user-avatar {
  display: inline-block;
}

.area-user span, .area-user a {
  color: #fff;
}

.area-user span {
  margin-right: 10px;
}

.area-user .user-nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #d8d8d8;
  border-radius: 5px;
  margin-top: 7px;
  padding: 10px 10px 12px;
}

.area-user .user-nav:before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid #d8d8d8;
  position: absolute;
  content: '';
  bottom: 100%;
  right: 10px;
}

.area-user .user-nav ul li {
  margin-bottom: 8px;
}

.area-user .user-nav ul li a {
  display: block;
}

.area-user .user-nav ul li a:before,
.area-user .user-nav ul li a:after {
  content: "";
  display: table;
}

.area-user .user-nav ul li a:after {
  clear: both;
}

.area-user .user-nav ul li a img {
  float: left;
  margin-right: 10px;
}

.area-user .user-nav ul li a span {
  color: #000;
  font-size: 12px;
  line-height: 24px;
}

.area-user .user-nav ul li:last-child {
  margin-bottom: 0;
}

/*---------------- Footer -------------------*/
.footer {
  padding: 10px 0;
  background-color: rgba(87, 196, 131, 0.7);
}

.footer-left {
  float: left;
  width: 30%;
}

.footer-left .footer-logo img {
  margin-bottom: 5px;
}

.footer-left p {
  color: #555;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 0;
}

.footer-center {
  float: left;
  width: 40%;
  text-align: center;
}

.footer-center ul {
  margin: 25px 0 5px;
}

.footer-center ul li {
  display: inline;
  margin: 0 4px;
}

.footer-center span {
  color: #555;
  font-size: 12px;
}

.footer-right {
  float: left;
  width: 30%;
  text-align: right;
  padding-top: 10px;
}

.footer-right a {
  color: #333;
  line-height: 24px;
}

/*---------------- Modal -------------------*/
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  display: none;
}

.fg-modal {
  display: none;
  width: 540px;
  padding: 25px 90px 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 22;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
}

.fg-modal h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.fg-modal .button {
  margin: 15px 10px 0;
}

.fg-modal form {
  margin-bottom: 30px;
}

.fg-modal form .input-wrapper input {
  width: 100%;
  margin-bottom: 20px;
}

.fg-modal .sign-up-link {
  color: #000;
}

.fg-modal .sign-up-link a {
  color: #13aa30;
}

.fg-modal .sign-in-link {
  color: #202020;
}

.fg-modal .sign-in-link a {
  color: #000;
}

.fg-modal.sign-in-option {
  padding: 35px 30px 45px;
}

.fg-modal.sign-in-option h2 {
  margin-bottom: 60px;
}

.fg-modal.sign-in-option .sign-in-option-content {
  position: relative;
  padding: 0 100px;
}

.fg-modal.sign-in-option .sign-in-option-content .or {
  display: inline-block;
  margin-top: 35px;
}

.fg-modal.sign-in-option .user-option,
.fg-modal.sign-in-option .parent-option {
  display: inline-block;
  width: 80px;
}

.fg-modal.sign-in-option .user-option img,
.fg-modal.sign-in-option .parent-option img {
  margin-bottom: 10px;
}

.fg-modal.sign-in-option .user-option {
  float: left;
}

.fg-modal.sign-in-option .parent-option {
  float: right;
}

.header-search {
  width: 315px;
  position: relative;
  overflow: hidden;
}

.header-search .header-search-input {
  width: 100%;
  height: 30px;
  border: none;
  border: 1px solid #d3d4d5;
  padding: 3px 30px 3px 10px;
  line-height: 24px;
  border-radius: 5px;
}

.header-search .header-search-button {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 1px;
  right: 1px;
  border: none;
  background: #d3d3d3 url(images/icons/search.png) 7px 6px no-repeat;
}

.header-search .header-search-button:focus {
  outline: none;
}

.result-info {
  padding: 0 120px 0 70px;
}

.result-info ul li {
  margin-bottom: 5px;
}

.result-info ul li:before,
.result-info ul li:after {
  content: "";
  display: table;
}

.result-info ul li:after {
  clear: both;
}

.result-info ul li .keyword {
  float: left;
}

.result-info ul li .keyword span {
  color: #0303fe;
}

.result-info ul li .category {
  float: right;
}

.main-content {
  padding: 25px 0 30px;
}

.lead-image {
  margin-bottom: 35px;
}

.area-class .fg-row {
  margin-left: -30px;
  margin-right: -30px;
}

.area-class .fg-row:before,
.area-class .fg-row:after {
  content: "";
  display: table;
}

.area-class .fg-row:after {
  clear: both;
}

.area-class .col-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.block-class {
  min-height: 170px;
  padding: 10px 20px 30px;
  border-radius: 20px;
  margin-bottom: 35px;
  position: relative;
}

.block-class.blue {
  border: 2px solid #29abe2;
}

.block-class.blue h2 {
  color: #29abe2;
}

.block-class.blue .flag {
  background-color: #29abe2;
}

.block-class.orange {
  border: 2px solid #ff8915;
}

.block-class.orange h2 {
  color: #ff8915;
}

.block-class.orange .flag {
  background-color: #ff8915;
}

.block-class.green {
  border: 2px solid #3fff6a;
}

.block-class.green h2 {
  color: #3fff6a;
}

.block-class.green .flag {
  background-color: #3fff6a;
}

.block-class.red {
  border: 2px solid #ff001d;
}

.block-class.red h2 {
  color: #ff001d;
}

.block-class.red .flag {
  background-color: #ff001d;
}

.block-class.violet {
  border: 2px solid #5571ff;
}

.block-class.violet h2 {
  color: #5571ff;
}

.block-class.violet .flag {
  background-color: #5571ff;
}

.block-class.pink {
  border: 2px solid #ff55db;
}

.block-class.pink h2 {
  color: #ff55db;
}

.block-class.pink .flag {
  background-color: #ff55db;
}

.block-class .flag {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  padding-left: 10px;
  color: #fff;
  top: 10px;
  left: -5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.block-class h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.block-class .desc {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.block-class ul li {
  display: block;
  margin-bottom: 5px;
}

.block-class ul li:before,
.block-class ul li:after {
  content: "";
  display: table;
}

.block-class ul li:after {
  clear: both;
}

.block-class ul li .subject {
  float: left;
}

.block-class ul li a {
  float: right;
}

.area-update-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.area-update-info .area-inner {
  width: 570px;
  padding: 30px 0 80px;
  margin: 0 auto;
  text-align: center;
}

.area-update-info .area-inner h1 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 35px;
}

.area-update-info .area-inner form .input-wrapper {
  margin-bottom: 25px;
  text-align: left;
}

.area-update-info .area-inner form .input-wrapper:before,
.area-update-info .area-inner form .input-wrapper:after {
  content: "";
  display: table;
}

.area-update-info .area-inner form .input-wrapper:after {
  clear: both;
}

.area-update-info .area-inner form .input-wrapper label {
  float: left;
  width: 30%;
  margin: 0;
  line-height: 35px;
}

.area-update-info .area-inner form .input-wrapper input {
  float: left;
  width: 70%;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
}

.area-update-info .area-inner form .input-wrapper #account {
  background-color: #e2e2e2;
}

.area-update-info .area-inner form .button {
  min-width: 105px;
  margin: 5px 10px 0;
  height: 35px;
  line-height: 35px;
}

.area-update-info .area-inner form .button.cancel {
  color: #333;
}

.main-content.english-1 > .wrapper {
  min-height: 500px;
}

.right-menu {
  position: absolute;
  top: 0;
  height: 100%;
  left: -17px;
  padding-top: 25px;
}

.right-menu:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #8ec173;
  left: 20px;
  top: 0;
}

.right-menu li {
  position: relative;
  display: block;
  width: 20px;
  height: 40px;
  line-height: 40px;
  margin-bottom: -5px;
  overflow: hidden;
}

.right-menu li:hover {
  width: auto;
  z-index: 9;
}

.right-menu li.active a {
  color: #333;
  background-color: #fff;
}

.right-menu li a {
  display: block;
  border-radius: 20px;
  min-width: 40px;
  height: 100%;
  color: #fff;
  font-weight: bold;
  padding: 0 15px 0 8px;
  background-color: teal;
}

.right-menu li a span {
  margin-right: 15px;
}

.right-menu li.grade2 a {
  background-color: #fe8915;
}

.right-menu li.grade3 a {
  background-color: #3fff6b;
}

.right-menu li.grade4 a {
  background-color: #ff001e;
}

.right-menu li.grade5 a {
  background-color: #5671ff;
}

.right-menu li.grade6 a {
  background-color: #ff55da;
}

.right-menu li.grade7 a {
  background-color: #fed22a;
}

.right-menu li.grade8 a {
  background-color: #00477d;
}

.right-menu li.grade9 a {
  background-color: #fe765e;
}

.right-menu li.grade10 a {
  background-color: #51ffba;
  padding-left: 2px;
}

.right-menu li.grade11 a {
  background-color: #ff4b80;
  padding-left: 2px;
}

.right-menu li.grade12 a {
  background-color: #3becff;
  padding-left: 2px;
}

@media screen and (min-width: 1024px) {
  .main-content-inner.search-result {
    min-height: 700px;
  }
}

.main-content-inner.search-result h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.main-content-inner.search-result .result-info {
  padding: 0 120px 0 70px;
}

.main-content-inner.search-result .result-info ul li {
  margin-bottom: 5px;
}

.main-content-inner.search-result .result-info ul li:before,
.main-content-inner.search-result .result-info ul li:after {
  content: "";
  display: table;
}

.main-content-inner.search-result .result-info ul li:after {
  clear: both;
}

.main-content-inner.search-result .result-info ul li .keyword {
  float: left;
}

.main-content-inner.search-result .result-info ul li .keyword span {
  color: #0303fe;
}

.main-content-inner.search-result .result-info ul li .category {
  float: right;
}

.main-content-inner.search-result .result-filter {
  margin-bottom: 30px;
}

.main-content-inner.search-result .result-filter .title {
  float: left;
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 0;
  line-height: 30px;
}

.main-content-inner.search-result .result-filter select {
  float: left;
  height: 30px;
  padding: 4px 5px;
  border: 1px solid #d6d7d7;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .main-content-inner.examine {
    min-height: 700px;
  }
}

.main-content-inner.examine .examine-content h1 {
  font-size: 24px;
  color: #0ca1e0;
  font-weight: bold;
  margin-bottom: 25px;
}

.main-content-inner.examine .examine-content .category {
  color: #0ca1e0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
}

.main-content-inner.examine .examine-content .sentence {
  margin-bottom: 25px;
  color: #000;
}

.main-content-inner.examine .examine-content .instruction img {
  margin-right: 10px;
}

.main-content-inner.examine .examine-content .instruction span {
  color: #217c54;
  line-height: 20px;
}

.main-content-inner.examine .examine-content .question {
  padding-left: 30px;
  margin-bottom: 30px;
}

.main-content-inner.examine .examine-content .question .underline {
  display: inline-block;
  width: 80px;
  position: relative;
  margin-right: 5px;
}

.main-content-inner.examine .examine-content .question .underline:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #333;
  top: 100%;
  left: 0;
}

.main-content-inner.examine .examine-content .options {
  padding-left: 30px;
}

.main-content-inner.examine .examine-content .options .answer {
  display: inline-block;
  min-width: 70px;
  padding: 0 20px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border: 2px solid #61fafb;
  border-radius: 4px;
  margin-right: 25px;
  color: #000;
}

.main-content-inner.examine .examine-result {
  position: absolute;
  width: 140px;
  background-color: #e2e2e2;
  top: -25px;
  right: 0;
}

.main-content-inner.examine .examine-result .title {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
}

.main-content-inner.examine .examine-result .result {
  padding: 10px 15px;
  text-align: center;
}

.main-content-inner.examine .examine-result .result .info {
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
}

.main-content-inner.examine .examine-result .result .fg-row {
  margin-left: -6px;
  margin-right: -6px;
  margin: 0 auto;
}

.main-content-inner.examine .examine-result .result .col-3 {
  float: left;
  width: 33.33333%;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.main-content-inner.examine .examine-result .result .number {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #fff;
  color: #333;
  margin-bottom: 3px;
}

.main-content-inner.examine .examine-result .result .index {
  font-size: 12px;
}

.main-content-inner.examine .examine-result .completed .title {
  background-color: #00ca28;
}

.main-content-inner.examine .examine-result .time .title {
  background-color: #2a559a;
}

.main-content-inner.examine .examine-result .score .title {
  background-color: #ff8f2d;
}

.main-content-inner.english {
  padding-left: 30px;
}

.main-content-inner.english .content-header {
  width: 66.66666%;
  margin-bottom: 25px;
}

.main-content-inner.english .content-header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #0da1e0;
  margin-bottom: 10px;
}

.main-content-inner.english .fg-row {
  margin-left: -30px;
  margin-right: -30px;
}

.main-content-inner.english .fg-row .col-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.main-content-inner.english .english-flag {
  margin-bottom: -50px;
  position: relative;
  top: -100px;
  left: -20px;
}

.main-content-inner.english .block-menu {
  margin-bottom: 55px;
}

.main-content-inner.english .block-menu .title {
  color: #0da1e0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-content-inner.english .block-menu ul li {
  margin-bottom: 2px;
}

.main-content-inner.english .block-menu ul li a {
  display: block;
  padding-left: 20px;
  position: relative;
}

.main-content-inner.english .block-menu ul li a:before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background: url(images/icons/check.png) no-repeat;
  top: 4px;
  left: 0;
}

.content-left, .aside-right {
  display: table-cell;
  vertical-align: top;
}

.content-left {
  padding-right: 25px;
  width: 750px;
}

.content-left .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 0;
}

.content-left .breadcrumb .active {
  color: #0ca1e0;
}

.content-left .title {
  font-size: 24px;
  color: #0ca1e0;
  font-weight: bold;
}

.content-left .text-form-section {
  background-image: url(images/img-smile.jpg);
  background-repeat: no-repeat;
}

.content-left .text-form-section .sub-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-left .form-section.text-form-section {
  background-position: 0 50%;
  height: 182px;
  padding: 0 0 0 165px;
  width: 725px;
}

.content-left .form-section {
  padding: 2.2em 0 2.2em 145px;
  position: relative;
  width: 725px;
}

.content-left .form-section + .form-section {
  border-top: 1px solid #0ca1e0;
}

.content-left .section-header {
  color: #0ca1e0;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 124px;
}

.content-left .input-view {
  display: inline-block;
  vertical-align: top;
}

.content-left .payment-view .sub-input {
  height: 38px;
  width: 140px;
}

.content-left .sub-input {
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #858585;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 10px;
  outline: 0 none;
  overflow: visible;
  padding: 8px 16px;
  position: relative;
}

.content-left button.sub-input:hover, .content-left button.sub-input:active {
  background-color: #67d6ff;
  border-color: #49ceff;
  color: #fff;
}

.content-left .option-acitve {
  background-color: #1ac1ff;
  border-color: #0cb7f6;
  color: #fff;
}

.content-left .yearly-input:after {
  background: url(images/icons/ic-best.png) repeat scroll 0 0/36px 31px;
  content: "";
  display: block;
  height: 31px;
  position: absolute;
  right: -6px;
  top: -12px;
  width: 36px;
}

.content-left .number-picker {
  border-radius: 5px;
  display: inline-block;
  padding-right: 15px;
}

.content-left .decrement, .content-left .increment {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  padding: 0;
  vertical-align: middle;
  width: 32px;
}

.content-left .decrement {
  border-bottom-left-radius: 6px;
  border-right: medium none;
  border-top-left-radius: 6px;
}

.content-left .increment {
  border-bottom-right-radius: 6px;
  border-left: medium none;
  border-top-right-radius: 6px;
}

.content-left .chevron {
  background: url(images/icons/ic-next.png) no-repeat scroll 0 0;
  height: 16px;
  margin: 0 auto;
  position: relative;
  width: 16px;
}

.content-left .chevron.left {
  transform: rotate(180deg);
}

.content-left .decrement-disabled .chevron {
  background: url(images/icons/ic-next-hover.png) no-repeat scroll 0 0;
}

.content-left .num-children {
  border: 1px solid #d1d1d1;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  font-size: 15px;
  height: 33px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  vertical-align: middle;
  width: auto;
}

.content-left .add-text {
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}

.content-left .subject-view {
  margin-bottom: 20px;
}

.content-left .subject-view .sub-input {
  height: 77px;
  margin-left: 8px;
  vertical-align: top;
  width: 136px;
}

.content-left .subject-view .sub-input:first-child {
  margin-left: 0;
}

.content-left .subject-view .option-active {
  background-color: #1ac1ff;
  border-color: #0cb7f6;
  color: #fff;
}

.content-left .option-name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}

.content-left .option-price {
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
}

.content-left .currency-symbol {
  font-size: 14px;
  line-height: 22px;
  vertical-align: top;
}

.content-left .option-term {
  display: inline-block;
  font-size: 11px;
  text-align: left;
}

.content-left .core-subject.active {
  bottom: -21px;
  display: block;
  height: 13px;
  left: 50%;
  outline: 0 none;
  position: absolute;
  transform: translateX(-50%);
  width: 34px;
}

.content-left .core-subject.active .core-subject-left {
  border-color: transparent transparent #1ac1ff;
  border-style: solid;
  border-width: 0 0 13px 17px;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.content-left .core-subject.active .core-subject-right {
  border-color: transparent transparent transparent #54d1ff;
  border-style: solid;
  border-width: 13px 0 0 17px;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.content-left .product-view .product-section-header {
  background-color: #1ac1ff;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 14px;
  height: 20px;
  line-height: 30px;
}

.content-left .product-description {
  border-color: #1ac1ff;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 0 1px 1px;
  padding-top: 7px;
}

.content-left .sub-product-des {
  display: inline-block;
  min-height: 105px;
  opacity: 0.3;
  text-align: center;
  vertical-align: top;
  width: 24%;
}

.content-left .sub-product-des .product-icon {
  background: transparent none no-repeat scroll 50% 50%;
  height: 45px;
  margin: 10px 0 4px;
  width: 45px;
}

.content-left .sub-product-des .product-name {
  color: #00a1dd;
  font-size: 14px;
  line-height: 18px;
}

.content-left .sub-product-des .product-grade {
  font-size: 11px;
}

.content-left .pro-math {
  background: url(images/icons/ic-math.png) no-repeat scroll 50% 0;
}

.content-left .pro-math.included {
  opacity: 1;
}

.content-left .pro-language-arts {
  background: url(images/icons/ic-book.png) no-repeat scroll 50% 0;
}

.content-left .pro-science {
  background: url(images/icons/ic-science.png) no-repeat scroll 50% 0;
}

.content-left .pro-social {
  background: url(images/icons/ic-social.png) no-repeat scroll 50% 0;
}

.content-left .text-view {
  font-style: italic;
  padding-top: 8px;
  text-indent: 11px;
}

.content-left .label-tt {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  width: 115px;
}

.content-left .name-view .sub-input, .content-left .email-view .sub-input {
  margin: 4px 0;
  padding: 5px 7px;
  width: 375px;
}

.content-left .number-view .label-tt, .content-left .exp-view .label-tt {
  width: 150px;
}

.content-left .number-view {
  margin-bottom: 5px;
  position: relative;
  width: 490px;
}

.content-left .number-view:after {
  background: url(images/icons/ic-paypal.png) no-repeat scroll 0 center;
  content: "";
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
}

.content-left .number-view .sub-input {
  margin: 4px 0;
  padding: 5px 7px;
  width: 215px;
}

.content-left .exp-view .sub-input {
  margin: 0;
  padding: 5px 4px;
  width: 55px;
}

.content-left .exp-view .exp-divider {
  display: inline-block;
  text-align: center;
  width: 25px;
}

.content-left .code-view .label-tt {
  padding-left: 15px;
  width: 135px;
}

.content-left .code-help {
  background: url(images/icons/ic-help.png) repeat scroll 0 0;
  display: inline-block;
  height: 14px;
  width: 14px;
}

.content-left #cc-code {
  margin: 0;
  padding: 5px 7px;
  width: 70px;
}

.content-left .small-tos {
  float: left;
  font-size: 11px;
  margin-left: 145px;
}

.content-left .small-tos a {
  color: #00659e;
  text-decoration: underline;
}

.content-left .submit-button {
  background-color: #1ac1ff;
  border: medium none transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  float: right;
  margin-top: 10px;
  line-height: normal;
  min-width: 135px;
  padding: 0.46em 1.5em 0.54em;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.1s linear 0s;
  vertical-align: baseline;
  white-space: nowrap;
}

.content-left .submit-button:hover {
  background-color: #67d6ff;
}

.content-left .secure-server {
  background: url(images/icons/ic-key.png) no-repeat scroll center 0;
  clear: right;
  color: #bfbfbf;
  float: right;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  padding: 0 13px 0 11px;
  width: 135px;
}

.content-left .secure-text {
  float: left;
}

.content-left .server-text {
  float: right;
}

.aside-right {
  background-color: #efefef;
  padding: 40px 0;
  text-align: center;
  width: 274px;
}

.aside-right .aside-section {
  margin-top: 50px;
  padding-top: 40px;
}

.aside-right .aside-section li {
  line-height: 20px;
}

.aside-right .aside-section li a {
  color: #00659e;
  text-decoration: underline;
}

.aside-right .summary-section {
  background: url(images/icons/ic-saying.png) no-repeat scroll 50% 0;
  font-size: 12px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

.aside-right .benefits-section {
  background: url(images/icons/ic-join.png) no-repeat scroll 50% 0;
}

.aside-right .contact-section {
  background: url(images/icons/ic-phone.png) no-repeat scroll 50% 0;
}

.aside-right h3 {
  color: #0ca1e0;
  font-size: 20px;
  line-height: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.aside-right .testimonial-text {
  line-height: 18px;
  margin-bottom: 10px;
}

.aside-right .name-address {
  font-style: italic;
  text-align: right;
}

.aside-right .testimonial-img {
  background: url(images/img-parent.jpg) no-repeat scroll 0 0;
  height: 131px;
  margin: 10px auto 0;
  width: 188px;
}

@media screen and (max-width: 1054px) {
  .area-class,
  .main-content-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .area-class .fg-row,
  .main-content-inner .fg-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .area-class .fg-row .col-3,
  .main-content-inner .fg-row .col-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-content-inner.english {
    padding-left: 45px;
  }
  .right-menu {
    left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .col-3 {
    width: 100%;
  }
  .english-flag {
    display: none;
  }
  .nav-wrapper {
    padding: 10px 0;
  }
  .nav-wrapper.logged-in {
    padding: 5px 0;
  }
  .nav-wrapper.logged-in .nav-icon {
    margin-top: 9px;
  }
  .area-user .button {
    margin-top: 0;
  }
  .nav-wrapper.logged-in .main-nav {
    margin-top: 5px;
  }
  .nav-wrapper .main-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    margin-top: 5px;
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(63, 63, 63, 0.7);
  }
  .nav-wrapper .main-nav ul li {
    float: none;
    width: 100%;
    border-right: none;
  }
  .nav-wrapper .main-nav ul li:first-child a {
    margin-left: 0;
  }
  .nav-wrapper .main-nav ul li:last-child a {
    border-bottom: none;
  }
  .nav-wrapper .main-nav ul li a {
    height: auto;
    margin: 0;
    padding: 3px 15px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.7);
  }
  .content-left {
    display: block;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
  }
  .content-left .text-form-section .sub-text {
    bottom: 0;
    position: absolute;
    text-align: justify;
    top: auto;
    transform: none;
  }
  .content-left .form-section.text-form-section {
    background-position: top center;
    height: 210px;
    margin: 20px 0;
    padding-left: 0;
    width: 100%;
  }
  .content-left .form-section {
    padding: 20px 0;
    width: 100%;
  }
  .content-left .section-header {
    margin: 0 0 5px;
    position: relative;
    width: 100%;
  }
  .content-left .payment-view {
    width: 100%;
  }
  .content-left .payment-view .sub-input {
    margin: 0;
    width: 49%;
  }
  .content-left .subject-view {
    width: 100%;
  }
  .content-left .subject-view .sub-input {
    margin-left: 0;
    width: 49%;
  }
  .content-left .subject-view .sub-input:nth-child(3) {
    margin-top: 20px;
  }
  .content-left .subject-view .sub-input:last-child {
    margin-top: 20px;
  }
  .content-left .core-subject.active {
    bottom: -118px;
  }
  .content-left .text-view {
    text-indent: 0;
  }
  .content-left .name-view, .content-left .email-view {
    width: 100%;
  }
  .content-left .name-view .sub-input, .content-left .email-view .sub-input {
    width: 100%;
  }
  .content-left .number-view {
    width: 100%;
  }
  .content-left .number-view:after {
    content: none;
  }
  .content-left .number-view .sub-input {
    width: 100%;
  }
  .content-left .exp-view {
    margin: 5px 0 10px;
  }
  .content-left .exp-view, .content-left .code-view {
    width: 100%;
  }
  .content-left .exp-view .label-tt, .content-left .code-view .label-tt {
    padding-left: 0;
    width: 115px;
  }
  .content-left #cc-code {
    width: 145px;
  }
  .content-left .small-tos {
    margin-left: 0;
  }
  .aside-right {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  .header-search {
    width: 220px;
  }
  .footer-left {
    width: 40%;
  }
  .footer-left p {
    display: none;
  }
  .footer-center {
    width: 60%;
  }
  .footer-center ul {
    margin: 5px 0 0;
    text-align: right;
  }
  .footer-center span {
    display: none;
  }
  .footer-right {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }
  .footer-right li {
    float: left;
    margin-right: 10px;
  }
  .area-update-info .area-inner {
    width: 100%;
    padding: 20px 15px;
  }
  .area-update-info .area-inner h1 {
    margin-bottom: 20px;
  }
  .area-update-info .area-inner form .input-wrapper {
    margin-bottom: 10px;
  }
  .area-update-info .area-inner form .input-wrapper label {
    width: 100%;
  }
  .area-update-info .area-inner form .input-wrapper input {
    width: 100%;
  }
  .fg-modal {
    width: 90%;
    max-height: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fg-modal.sign-in-option {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fg-modal.sign-in-option .sign-in-option-content {
    padding: 0 50px;
  }
  .fg-modal.sign-in-option h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .fg-modal.sign-in-option .user-option {
    margin-right: 0;
  }
  .fg-modal.sign-in-option .parent-option {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    padding: 0 10px;
  }
  .area-class,
  .main-content-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .area-class .fg-row,
  .main-content-inner .fg-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .area-class .fg-row .col-3,
  .main-content-inner .fg-row .col-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    padding: 15px 0 5px;
  }
  .site-logo {
    margin-right: 20px;
  }
  .header-search {
    width: 170px;
  }
  .area-language {
    width: 100%;
    text-align: right;
    margin-top: 15px;
  }
  .area-language ul li {
    float: left;
    margin-right: 15px;
  }
  .main-content-inner.english .block-menu {
    margin-bottom: 30px;
  }
  .content-left {
    display: block;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
  }
  .content-left .text-form-section .sub-text {
    bottom: 0;
    position: absolute;
    text-align: justify;
    top: auto;
    transform: none;
  }
  .content-left .form-section.text-form-section {
    background-position: top center;
    height: 230px;
    margin: 20px 0;
    padding-left: 0;
    width: 100%;
  }
  .content-left .form-section {
    padding: 20px 0;
    width: 100%;
  }
  .content-left .section-header {
    margin: 0 0 5px;
    position: relative;
    width: 100%;
  }
  .content-left .payment-view {
    width: 100%;
  }
  .content-left .payment-view .sub-input {
    margin: 0;
    width: 49%;
  }
  .content-left .subject-view {
    width: 100%;
  }
  .content-left .subject-view .sub-input {
    margin-left: 0;
    width: 49%;
  }
  .content-left .subject-view .sub-input:nth-child(3) {
    margin-top: 20px;
  }
  .content-left .subject-view .sub-input:last-child {
    margin-top: 20px;
  }
  .content-left .core-subject.active {
    bottom: -118px;
  }
  .content-left .text-view {
    text-indent: 0;
  }
  .content-left .name-view, .content-left .email-view {
    width: 100%;
  }
  .content-left .name-view .sub-input, .content-left .email-view .sub-input {
    width: 100%;
  }
  .content-left .number-view {
    width: 100%;
  }
  .content-left .number-view:after {
    content: none;
  }
  .content-left .number-view .sub-input {
    width: 100%;
  }
  .content-left .exp-view {
    margin: 5px 0 10px;
  }
  .content-left .exp-view, .content-left .code-view {
    width: 100%;
  }
  .content-left .exp-view .label-tt, .content-left .code-view .label-tt {
    padding-left: 0;
    width: 115px;
  }
  .content-left #cc-code {
    width: 145px;
  }
  .content-left .small-tos {
    margin-left: 0;
  }
  .aside-right {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
  }
  .fg-modal.sign-in-option .sign-in-option-content .or {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .content-left {
    display: block;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
  }
  .aside-right {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
  }
  .aside-right .summary-section {
    text-align: center;
  }
  .aside-right .testimonial-text {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */