// Variables
// Typograyphy
$base_font_size: 14px;
$base_line_height: 24px;

// Color default using.
$accent: #b71b52 !default;
$white: #ffffff !default;
$black: #080808 !default;
$purple: #6d57a5 !default;
$light-yellow: #f8f2e8 !default;
$light-gray: #d9d9d9;
$gray: #9b9b9b !default;
$light-green: #1bb77e !default;
$blue: #2a8ce0 !default;
$light-blue: #63b9d5 !default;
$light-orange: #f15f4c !default;
$light-pink: #e589ae !default;

// Color Base
$body_bg: #f8f2e8 !default;

// Color Link
$link: #2d3032 !default;
$link_hover: #b71b52 !default;

// Color input, button
$input_bg: #dfdfdf !default;

// Navigation
$nav_bg: #b71b52 !default;
$nav_item_hover_bg: #212b39 !default;

// Title
$title_bg: #212b39 !default;

//sidebar
$yellow: #dec047;
$green: #83b035;
$dark-green: #3b5998;
$blue: #2a8ce0;
$dark-blue: #575c9e;
$brown: #672e26;
$light-green: #57b26f;
$pink: #e44b96;
$orange: #ef9a41;
$red: #df4f3c;
$light-pink: #e077a1;

// Color bg
$light-purple: #e2dded;

// Corporate
$dignity-blue: #2966ef;
$silver: #d3d5d8;

// Column-lawyer
$sky-blue: #63b9d5;
$dark-gray: #3f4345;
$light-black: #5a5858;

//Q-A
$bg-gray: #efefef;
$dimgray: #282828;
$dignity-black: #1f1f1f;
$bg-green: #f7f7f7;
$slate-gray: #444;
$dark-white: #f9f9f9;

//profile
$bg-img: #f4f4f4;
$light-grey: #ccc;
$bg-th: #fdfaf6;
$bd-th: #484c52;

// signup
$bg-face: #3b5998;

// contact- detail
$medium-blue: #001eff;

// Mgr variables
$bg-admin-header: #1F1F1F;
$bg-admin-sidebar: #3D3D3D;
$bg-admin-sidebar-hover: #303030;

$admin-link: #337ab7;
$admin-page-title: #666666;
$bg-admin-link-hover: #657384;
$admin-border-color: #484848;

$admin-header-height: 50px;
$admin-header-width: 150px;

$admin-footer-height: 28px;

$admin-sidebar-width: 250px;

//font-family
$default-font-bold: "NotoSansCJKjp-Bold";
$default-font-demi: "NotoSansCJKjp-DemiLight";
$default-font-medium: "NotoSansCJKjp-Medium";
$default-font-regular: "NotoSansCJKjp-Regular";
$default-font-mono-bold: "NotoSansMonoCJKjp-Bold";
$default-font-light: "NotoSansCJKjp-Light";

// Icon
$icon-collection: "../images/icon-collection.png";
