@import "../base/variables", "../base/mixins";

/* Content*/
/* Top-content*/
.top-content {
  img {
    width: 100%;
  }
  h3 {
    margin: 20px 0;
    font-size: $base_font_size + 8;
    color: #3f4345;
    font-family: $default-font-bold;
  }
  .accent-button {
    font-size: $base_font_size + 1;
    padding: 3px 5px;
    font-family: $default-font-regular;
  }
  .box-images {
    margin-bottom: 25px;
  }
  .box-social {
    display: block;
    float: left;
    margin-bottom: 25px;
    li {
      list-style: none;
      float: left;
      border: 1px solid $input_bg;
      border-radius: 3px;
      width: 158px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      a {
        line-height: 18px;
        display: block;
        font-size: $base_font_size - 4;
        text-align: center;
        padding: 5px 0;
        font-family: $default-font-bold;
        span, i, img {
          display: block;
        }
        i {
          font-size: $base_font_size + 4;
        }
      }
      .facebook {
        color: #3b5998;
      }
      .twitter {
        color: #00b2f1;
      }
      .google {
        color: #df4f3c;
        img {
          width: 26px;
          height: 18px;
          margin: 0 auto;
        }
      }
      .hatena {
        color: #00a3de;
        img {
          width: 17px;
          height: 18px;
          margin: 0 auto;
        }
      }
    }
  }
  .box-des {
    font-size: $base_font_size;
    color: #1f1f1f;
    line-height: 26px;
    clear: both;
    font-family: $default-font-regular;
    p {
      line-height: 26px;
    }
  }
  .box-table {
    border: 1px solid $input_bg;
    width: 100%;
    ul {
      padding: 15px 0;
      li {
        list-style: none;
        position: relative;
        a {
          padding-left: 20px;
          font-size: $base_font_size;
          color: $purple;
          line-height: 26px;
          position: relative;
          font-family: $default-font-regular;
          i {
            color: $accent;
            font-size: $base_font_size - 2;
            margin-right: 12px;
          }
        }
        ul {
          padding: 0 0 0 40px;
          li a {
            padding-left: 12px;
            &:before {
              background: $accent;
              width: 5px;
              height: 5px;
              content: "";
              position: absolute;
              border-radius: 50%;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    th {
      text-align: center;
      font-size: $base_font_size + 4;
      color: #081015;
      font-family: $default-font-demi;
    }
  }
}

/*** content - trouble ***/
.content-trouble {
  margin-top: 30px;
  .title-content {
    background: #f7f7f7;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    .button-toggle {
      background: $nav_bg;
      float: right;
      padding: 15px 18px;
      cursor: pointer;
      &.active i {
        transform: rotate(0deg);
      }
      i {
        text-align: center;
        color: $white;
        transform: rotate(180deg);
        transition: 0.3s ease-out;
        font-size: $base_font_size + 4;
      }
    }
  }
  h3 {
    color: #081015;
    font-family: $default-font-bold;
    font-size: $base_font_size + 6;
    border-left: 5px solid $nav_bg;
    padding: 10px;
    float: left;
    margin: 0;
  }
  .description {
    clear: both;
    font-family: $default-font-regular;
    &.active {
      display: none;
    }
    .title-note {
      font-family: $default-font-bold;
      color: $nav_bg;
      font-size: $base_font_size;
      display: block;
      padding-bottom: 10px;
      border-bottom: 1px solid $input_bg;
      margin-bottom: 15px;
    }
  }
  .gallery {
    margin-bottom: 23px;
    .row {
      margin-left: -4px;
      margin-right: -4px;
    }
    [class*="col-"] {
      padding-left: 4px;
      padding-right: 4px;
    }
    a {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .box-link-around {
    margin-bottom: 15px;
  }
}

/*** google adword ***/
#content {
  background: $body_bg;
  padding: 0 0 20px;
  .google-analytics {
    text-align: center;
    margin: 30px 0;
  }
}

/*** content-small ***/
.content-small {
  .top-trouble {
    margin-top: 0;
  }
  /*** table-small ***/
  .box-table {
    .small-table li {
      a {
        &:before {
          background-color: #b71b52;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
      }
    }
  }
}

/*** lawer-seach-top ***/
.module-section-search {
  background: $white;
  margin-bottom: 25px;
  .btn-icon-search {
    font-size: 16px;
    margin-right: 15px;
  }
  .search-box {
    padding: 25px;
    text-align: center;
    border: 1px solid $input_bg;
  }
  .btn-select {
    display: inline-block;
    margin: 0 15px;
    select {
      background-color: $input_bg;
      height: 40px;
      width: 200px;
      border: none;
      border-radius: 4px;
      font-size: $base_font_size - 2;
      font-family: $default-font-medium;
      color: $link;
    }
  }
  .btn-close {
    color: #1bb77e;
    font-size: $base_font_size;
    margin-top: 8px;
    display: inline-block;
  }
  .btn-search {
    background-color: $accent;
    color: #fff;
    font-size: $base_font_size;
    font-family: $default-font-medium;
    border: none;
    padding: 8px 75px 12px;
    border-radius: 4px;
    margin: 0 15px;
    &:hover {
      opacity: 0.7;
      transition: 0.3s ease-out;
    }
  }
}

/*** lawer-seach-top content-3 ***/
.office-nurse {
  margin-bottom: 25px;
  text-align: center;
  .btn-input {
    width: 350px;
    display: inline-block;
    margin-right: 15px;
    input {
      background: $input_bg;
      width: 100%;
      border-radius: 16px;
      height: 40px;
      font-size: $base_font_size - 2;
      color: #5a5858;
    }
  }
  .btn-island {
    .form-field {
      width: 160px;
      select, .selectBox-dropdown {
        min-width: inherit;
        width: 160px;
      }
    }
  }
  .btn-select:last-child {
    margin-right: 0;
  }
}

/*** lawer-result ***/
.all-left {
  h3 {
    padding-left: 20px;
    font-family: $default-font-bold;
  }
}

.site-lawer-result {
  .content-area {
    margin: 0;
  }
  .module-profile {
    border: 5px solid $light-yellow;
    .module-title {
      border: none;
    }
    .profile-item {
      border: none;
      margin-bottom: 0;
    }
  }
}

/*** content#1 lawyer-company ***/
.module-company {
  background: $light-purple;
  position: relative;
  margin-top: 30px;
  img {
    padding: 8px;
    float: left;
  }
  .name-company {
    font-size: $base_font_size + 6;
    color: $purple;
    font-family: $default-font-bold;
    padding-right: 15px;
    line-height: 22px;
    float: left;
    margin-top: 35px;
  }
  .name-office-comfirm {
    color: $nav_item_hover_bg;
  }
  span, a {
    color: $light-black;
    display: block;
    font-size: $base_font_size - 3;
    font-family: $default-font-demi;
    line-height: 20px;
    i {
      color: $slate-gray;
      font-size: $base_font_size;
      padding-right: 7px
    }
    .office-phone, .office-map {
      font-size: $base_font_size + 2;
    }
  }
  .company-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .company-office {
    margin-top: 15px;
  }
}

.module-profile-result {
  padding: 0 15px 0;
  .profile-item {
    padding: 0 5px 18px;
  }
}

.all-center {
  text-align: center;
}

/*** pagination ***/
.pagination {
  margin: 0;
  li {
    a {
      margin: 0 10px;
      border: 1px solid $input_bg;
      border-radius: 3px;
      font-size: $base_font_size + 2;
      font-family: $default-font-medium;
      line-height: 38px;
      padding: 2px 3px;
      width: 44px;
      color: $purple;
      i {
        color: $purple;
        font-size: $base_font_size;
      }
      &:hover {
        background-color: $purple;
        color: $white;
        border: 1px solid $purple;
        i {
          color: $white;
        }
      }
    }
  }
  li.active {
    a {
      color: $white;
      background-color: $purple;
      border: 1px solid $purple;
      border-radius: 3px;
      &:hover {
        background-color: $purple;
        opacity: 0.8;
        border: 1px solid $purple;
      }
    }
  }
}

/*** content#3 lawyer-result ***/
.free-law {
  background: #efefef;
  margin-bottom: 0;
  .name-company {
    margin: 23px 20px;
  }
}

.lg-avatar-special {
  width: 69px;
  height: 69px;
  border: 3px solid $gray;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
  float: left;
  img {
    width: 100%;
    height: 100%;
  }
}

.no-images {
  background: url("../images/img-no.png") no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    font-size: $base_font_size - 2;
    font-family: $default-font-regular;
    width: 100%;
    text-align: center;
  }
}

.module-profile-free {
  padding: 0 15px;
  margin-bottom: 40px;
  .box-profile {
    padding: 0 8px;
    float: left;
    width: 100%;
    .profile-lawyer {
      border: solid $input_bg;
      border-width: 0 0 1px;
      padding: 23px 0;
      float: left;
      width: 100%;
    }
  }
  .profile-info {
    .title {
      font-size: 18px;
      color: $purple;
      margin-top: 20px;
    }
  }
  &.style-2 {
    padding: 0;
    .section-title {
      margin-bottom: 4px;
    }
    [class*="lg-avatar-"] {
      margin-right: 20px;
    }
    .handling-areas {
      padding: 21px 15px;
    }
    .view-more {
      margin: 16px 7px 0;
      padding-bottom: 17px;
      border-bottom: 1px solid #dfdfdf;
      a {
        font-size: 14px;
      }
    }
    .box-profile:not(.box-top-profile) {
      padding: 0 18px 0 5px;
      .profile-lawyer {
        padding: 21px 0 0;
        border: none;
      }
    }
    .box-top-profile {
      margin-top: 10px;
    }
  }
}

.handling-areas {
  border: 1px solid $input_bg;
  padding: 15px 23px;
  margin-top: 8px;
  color: #44484c;
  font-size: $base_font_size - 2;
  span {
    color: $nav_item_hover_bg;
    font-family: $default-font-medium;
    margin-right: 20px;
  }
}

.view-more {
  margin: 20px 0 15px;
  a {
    font-size: $base_font_size - 1;
    color: $purple;
    font-family: $default-font-medium;
  }
}

.module-contact {
  a {
    border-radius: 3px;
    font-family: $default-font-medium;
    line-height: 38px;
    margin: 0 10px;
    border: 1px solid $accent;
    i {
      margin-right: 8px;
    }
  }
  .phone {
    padding: 6px 35px;
    color: $accent;
    background-color: $white;
    font-size: $base_font_size + 2;
  }
  .email {
    background-color: $accent;
    color: $white;
    font-size: $base_font_size;
    padding: 9px 35px 7px;
  }
}

/* Box Profile Top */
.box-top-profile {
  .box-link-around {
    float: left;
    max-width: 172px;
    margin: 0 0 0 6px;
    > label {
      height: 22px;
      line-height: $base_line_height - 4;
      font-size: $base_font_size - 3;
    }
    .box-link-content {
      min-height: 98px;
    }
    .focus-areas span {
      margin-right: 6px;
    }
  }
}

/* Box Profile Top Premiere */
.box-profile-premiere {
  .profile-left {
    margin-top: 10px;
  }
  .lg-avatar-large {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
    &:before {
      background: url($icon-collection) no-repeat 0 -182px;
      width: 27px;
      height: 37px;
      top: 10px;
    }
  }
  .profile-info {
    .title {
      font-size: $base_font_size + 6;
      font-family: $default-font-bold;
      color: $link;
      margin: 6px 0 0;
      span {
        font-size: $base_font_size;
        font-family: $default-font-regular;
      }
    }
    > span {
      font-size: $base_font_size - 1;
      padding: 5px 0;
      display: block;
    }
    .location {
      color: #5a5858;
    }
  }
}

/*** content#2 lawyer-result ***/
.module-profile-free {
  .box-bottom-profile {
    .profile-lawyer {
      border-top: 1px solid $input_bg;
    }
  }
  .box-top-profile {
    background-color: $light-purple;
    padding: 15px 15px;
    margin-bottom: 20px;
    .box-handling {
      background: $white;
      padding: 15px;
      .handling-areas {
        padding: 0;
        border: none;
      }
    }
  }
}

.lg-avatar-large {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  margin-right: 12px;
  border: 3px solid $accent;
  &:before {
    position: absolute;
    content: "";
    background: url("../images/icon-top.png") no-repeat;
    width: 21px;
    height: 29px;
    left: 12px;
  }
}

.focus-areas {
  font-size: $base_font_size - 2;
  font-family: $default-font-medium;
  span {
    margin-right: 20px;
  }
  .areas {
    color: $accent;
  }
  .divorce {
    color: #dd6897;
  }
  .traffic-accident {
    color: $blue;
  }
  .debt {
    color: #ef9a40;
  }
}

.box-description {
  color: $link;
  font-size: $base_font_size - 2;
  margin-top: 20px;
  font-family: $default-font-demi;
}

/*** 9-6 lawyer-free ***/
/*** Content top ***/
.lg-avatar-big {
  margin-right: 25px;
  a {
    width: 100px;
    height: 100px;
  }
}

.module-lawyer {
  .profile-info {
    margin-top: 7px;
    .title {
      color: $link;
      font-size: $base_font_size + 6;
      font-family: $default-font-bold;
      margin-bottom: 10px;
      span {
        font-size: $base_font_size;
        font-family: $default-font-regular;
        margin-left: 15px;
      }
    }
    span {
      font-family: $default-font-regular;
      font-size: $base_font_size - 1;
    }
    .law-firm {
      color: $link;
      display: block;
      margin-bottom: 5px;
    }
    .location {
      color: #5a5858;
      i {
        color: #444;
        margin-right: 15px;
        font-size: 16px;
      }
    }
  }
}

.handling-field {
  width: 175px;
  height: 120px;
  float: right;
  border: 1px solid $input_bg;
  span {
    font-size: $base_font_size - 3;
    font-family: $default-font-medium;
    padding: 5px 10px;
    display: inline-block;
  }
  .bt-result {
    border-top: 1px solid $input_bg;
    /* Box info */
    .module-info {
      .box-info {
        border: 1px solid $input_bg;
        margin-bottom: 24px;
      }
      .info-map {
        padding: 8px;
        border-right: 1px solid $input_bg;
        iframe {
          max-width: 100%;
        }
      }
      .box-info-detail {
        p {
          border-bottom: 1px solid $input_bg;
          font-size: $base_font_size - 3;
          margin-bottom: 0;
          padding: 8px 15px;
          clear: both;
          line-height: 1.7;
          &:last-child {
            border-bottom: none;
          }
        }
        label {
          width: 130px;
          float: left;
          font-family: $default-font-medium;
        }
        span {
          width: calc(100% - 130px);
          float: right;
        }
      }
    }
  }
}

/* Box info */
.module-info {
  .box-info {
    border: 1px solid $input_bg;
    margin-bottom: 24px;
  }
  .info-map {
    padding: 8px;
    border-right: 1px solid $input_bg;
    iframe {
      max-width: 100%;
    }
  }
  .box-info-detail {
    p {
      border-bottom: 1px solid $input_bg;
      font-size: $base_font_size - 3;
      margin-bottom: 0;
      padding: 8px 15px;
      clear: both;
      line-height: 1.7;
      &:last-child {
        border-bottom: none;
      }
    }
    label {
      width: 130px;
      float: left;
      font-family: $default-font-medium;
    }
    span {
      width: calc(100% - 130px);
      float: right;
      .note {
        float: left;
        display: block;
        font-family: $default-font-medium;
        font-size: 13px;
        &:last-child {
          margin-top: 25px;
        }
      }
    }
  }
}

.free-law-info {
  padding: 22px 24px 17px 6px;
  margin-bottom: 22px;
  .name-company {
    color: $title_bg;
    margin-top: 0;
  }
  &.module-company {
    span i {
      font-size: $base_font_size + 2;
    }
    img {
      margin: -23px 20px -18px -7px;
    }
  }
  .company-info {
    position: relative;
    top: inherit;
    left: inherit;
    @include css3-compatible(transform, none);
    a, a i {
      color: $purple;
    }
  }
}

/*** 9-6 lawyer-free ***/
/*** Tab Content 1 ***/
.tab-wrap {
  .tab-title-5-column {
    border-bottom: 1px solid $input_bg;
    .tab-title-item {
      width: 20%;
      float: left;
    }
    .tab-hidden {
      color: $input_bg;
    }
  }
  .content-trouble {
    margin-top: 0;
    .title-content h3 {
      font-size: $base_font_size + 4;
    }
    .description {
      color: $link;
    }
  }
}

.result {
  border: 1px solid $input_bg;
  float: left;
  margin: 10px 0;
  &:first-child {
    margin-top: 0;
  }
  .result-info, .result-title {
    padding: 10px 15px;
    color: $link;
    font-size: $base_font_size;
  }
  .result-title {
    border-bottom: 1px solid $input_bg;
  }
}

/* Box office link */
.box-office-link {
  padding: 20px 24px;
  h4 {
    font-size: $base_font_size - 2;
    font-family: $default-font-medium;
    margin-bottom: 21px;
  }
}

/*** 9-6 lawyer-free ***/
/*** tab-content 4 ***/
.content-trouble {
  .module-info .law-profile {
    label, span {
      font-size: $base_font_size - 1;
    }
    span {
      padding: 0 15px 0 30px;
    }
    .note {
      padding-left: 0;
    }
  }
}

.tab-wrap .law-info {
  margin-top: 20px;
  clear: both;
}

.more {
  font-family: $default-font-medium;
  margin-bottom: 15px;
  .law-firm {
    color: $link;
  }
  .more-office {
    color: $purple;
    margin-bottom: 5px;
  }
}

.box-contact {
  background-color: #efefef;
  border: 1px solid $input_bg;
  float: left;
  padding: 25px 9px;
  .info-profile {
    margin-bottom: 30px;
    h4 {
      color: $link;
      font-size: $base_font_size + 6;
      font-family: $default-font-bold;
      margin-bottom: 10px;
      span {
        margin-left: 20px;
      }
    }
    span {
      font-size: $base_font_size;
      font-family: $default-font-regular;
      color: $link;
    }
  }
  a i {
    margin-right: 15px;
  }
  .phone {
    color: $nav_bg;
    display: block;
    margin-bottom: 25px;
    font-size: $base_font_size + 6;
    font-family: $default-font-regular;
    i {
      font-size: 24px;
    }
  }
  .email {
    color: $white;
    background: $nav_bg;
    padding: 8px 0;
    font-size: $base_font_size;
    font-family: $default-font-medium;
    border-radius: 3px;
    width: 100%;
    display: block;
    text-align: center;
    i {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/*** 9.7 lawyer-free ***/
.box-evidence {
  border-bottom: 1px solid $input_bg;
  padding: 10px 0;
  a {
    color: $purple;
    font-family: $default-font-bold;
    font-size: $base_font_size;
    margin-bottom: 8px;
    display: block;
  }
  .description {
    color: $gray;
    font-size: $base_font_size - 3;
    font-family: $default-font-light;
    margin-top: 8px;
  }
  .education {
    color: $dark-blue;
    font-size: $base_font_size - 3;
    margin-right: 5px;
  }
  .date {
    font-size: $base_font_size - 3;
    color: $gray;
    font-family: $default-font-regular;
  }
}

/* Box contact premiere */
.box-contact-premiere {
  table {
    font-size: $base_font_size - 2;
    tbody {
      th, td {
        padding: 9px 0;
      }
    }
  }
}

/* Comment content */
.tab-content, .style-medium {
  .comment-item {
    border-bottom: 1px solid $input_bg;
    padding: 0 0 15px 0;
    margin: 0 0 17px 0;
    p {
      font-family: $default-font-light;
      font-size: $base_font_size - 3;
      width: 100%;
    }
  }
}

.style-medium {
  .comment-item {
    h3 {
      font-size: $base_font_size + 2;
      .lg-icon {
        width: 28px;
        height: 28px;
        background-position: -78px -182px;
      }
    }
    p {
      font-size: $base_font_size - 2;
      padding-left: 37px;
    }
  }
}

/*** category-corporate ***/
/*** top-content ***/
.corparate {
  background: url("../images/bg-bd-top.png") repeat-y;
  background-size: cover;
  background-position: top center;
}

.news {
  padding-top: 25px;
  .title {
    color: $white;
    font-size: $base_font_size;
    font-family: $default-font-bold;
    margin-bottom: 0;
    padding-left: 20px;
  }
  ul {
    margin-top: 10px;
    padding: 12px 20px;
    background: rgba(109, 87, 165, 0.5);
    li {
      list-style: none;
      margin-right: 10px;
      a {
        font-size: $base_font_size;
        color: $white;
        line-height: 28px;
        font-family: "NotoSansMonoCJKjp-Bold";
        i {
          padding-right: 15px;
        }
      }
    }
  }
}

.box-news {
  background: $silver;
  padding: 15px 20px;
  float: left;
  margin: 10px 0;
  width: 100%;
  .comment-item {
    .description {
      height: 36px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;;
    }
    .enterprise {
      color: $dignity-blue;
    }
    .date {
      color: $gray;
    }
  }
  span {
    font-size: $base_font_size - 3;
    font-family: $default-font-regular;
  }
  .enterprise {
    color: $dignity-blue;
    margin-right: 9px;
  }
  .date {
    color: $gray;
    padding-left: 9px;
    position: relative;
    &:before {
      position: absolute;
      content: "|";
      left: 0;
      width: 1px;
      height: 14px;
      top: 0;
      color: $white;
    }
  }
}

.box-img {
  float: left;
  width: 156px;
  height: 87px;
}

.box-category {
  float: left;
  width: 212px;
  padding-right: 15px;
  a {
    color: $purple;
    font-size: $base_font_size;
    font-family: $default-font-bold;
    display: block;
  }
}

.see-more {
  float: left;
  width: 100%;
  border: 1px solid $white;
  text-align: center;
  margin: 10px 0 30px 0;
  padding: 4px 0 6px;
  border-radius: 4px;
  a {
    color: $white;
    font-size: $base_font_size - 1;
    font-family: $default-font-medium;
    i {
      margin-right: 15px;
    }
  }
}

/*** slider ***/
.slider {
  padding-top: 32px;
}

.carousel-cell {
  opacity: 0.6;
  margin-right: 15px;
  width: 811px;
  height: 224px;
  &.is-selected {
    opacity: 1;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.slide-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  color: $white;
  font-size: $base_font_size + 6;
  font-weight: bold;
  text-align: center;
  a {
    padding: 7px 20px;
    line-height: 38px;
    border: 3px solid $white;
    color: $white;
    font-size: $base_font_size + 6;
    font-weight: bold;
  }
  p {
    text-align: center;
  }
}

.flickity-prev-next-button {
  background: rgba(255, 255, 255, 0.8);
  width: 59px;
  height: 59px;
}

.flickity-prev-next-button.next {
  right: calc(50% - 520px);
}

.flickity-prev-next-button.previous {
  left: calc(50% - 520px);
}

.flickity-prev-next-button svg {
  width: 22px;
  height: 29px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flickity-prev-next-button .arrow {
  fill: $title_bg;
}

.flickity-page-dots {
  display: none;
}

/*** category-corporate-content ***/
.site-content-corparate {
  .content-trouble {
    padding-bottom: 30px;
    .title-note {
      font-family: $default-font-medium;
    }
    p {
      color: $bg-admin-header;
    }
  }
}

/*** Legal edit detail ***/
.site-legal-edit {
  .top-content h3 {
    margin: 10px 0 15px;
  }
  .box-des {
    color: #3f4345;
  }
}

.module-law-act {
  margin: 20px 0 35px;
  color: #3f4345;
  p {
    margin-bottom: 23px;
  }
  ul {
    margin: 6px 0 22px 0;
    li {
      list-style: none;
      margin-bottom: 5px;
      ul {
        padding-left: 15px;
      }
    }
  }
}

/*** Column lawyer-top ***/
.lg-avatar-lawyer {
  width: 70px;
  height: 70px;
  a {
    padding-bottom: 0;
  }
}

.comment-profile {
  background: $light-yellow;
  padding: 14px;
  float: left;
  width: 100%;
  border-radius: 3px;
}

.profile-lawyer-info {
  float: left;
  margin: 10px 0 0 10px;
  h4 {
    color: $purple;
    font-family: $default-font-medium;
    font-size: $base_font_size - 1;
    margin-bottom: 0;
  }
  span {
    color: $gray;
    font-size: $base_font_size - 2;
    font-family: $default-font-regular;
    padding: 0;
  }
}

.column-lawyer-top {
  .info-wrap .item-info {
    a {
      margin: 0;
      padding: 0;
    }
    .description {
      color: $gray;
      font-size: $base_font_size - 2;
      font-family: $default-font-regular;
      margin: 5px 0 0 0;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 20px;
    }
  }
}

/*** Column-lawyer-category-big ***/
.column-lawyer {
  position: relative;
  min-height: 185px;
  overflow: hidden;
  .box-bg {
    background: rgba(33, 43, 57, 0.9);
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .box-images {
    position: absolute;
  }
  .box-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: $white;
    p {
      font-size: $base_font_size;
      font-family: $default-font-medium;
      text-align: center;
      margin: 0;
    }
    h3 {
      font-family: $default-font-bold;
      font-size: $base_font_size + 23;
      color: $white;
      margin: 0;
    }
  }
}

/*** column-lawyer-top-detail ***/
.module-images {
  margin: 6px 0 35px 0;
  .box-images {
    text-align: center;
  }
}

.column-lawyer-detail {
  .top-content {
    .accent-button {
      padding: 3px 45px;
    }
    .box-des {
      color: $dark-gray;
    }
  }
  .profile-lawyer-info {
    margin: 15px 0 0 15px;
    padding-left: 0;
    width: calc(100% - 95px);
    h4 {
      color: $purple;
      font-size: $base_font_size +1;
      span {
        color: $gray;
        font-size: $base_font_size - 2;
        margin-left: 15px;
      }
    }
    p {
      font-size: $base_font_size - 2;
      font-family: $default-font-light;
      margin: 5px 0 0 0;
      color: $light-black;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 20px;
    }
  }
  .comment-profile {
    margin-bottom: 25px;
  }
  .section-white {
    background: $white;
    h3 {
      color: $accent;
      font-family: $default-font-medium;
    }
  }
  .module-profile-free {
    border: 1px solid $input_bg;
  }
  .box-profile {
    padding: 0 10px 20px;
    .module-contact a {
      padding: 8px 30px;
      font-size: $base_font_size - 1;
      font-family: $default-font-bold;
      i {
        font-size: $base_font_size + 2;
      }
    }
    .section-author {
      padding: 20px 0 10px;
      border-top: 1px solid $input_bg;
      float: left;
      .profile-info {
        float: left;
        margin-left: 15px;
        h4 {
          font-size: $base_font_size + 2;
          font-family: $default-font-medium;
          margin-bottom: 0;
        }
        .location {
          position: absolute;
          right: 0;
          color: $gray;
          font-size: $base_font_size - 2;

          i {
            margin-right: 5px;
            color: #444;
            font-size: $base_font_size;
          }
        }
        span {
          color: $purple;
          font-size: $base_font_size - 1;
          font-family: $default-font-regular;
        }
      }
      .handling-areas {
        margin-top: 0;
        padding: 15px;
        span {
          margin-right: 8px;
          font-family: $default-font-regular;
          &:first-child {
            margin-right: 15px;
          }
        }
        .focus-areas {
          margin-bottom: 5px;
        }
        .handling-info {
          margin-right: 15px;
        }
      }
      .box-description {
        font-family: $default-font-light;
        font-size: $base_font_size - 1;
        color: $dark-gray;
        margin: 15px 0 12px 0;
      }
    }
  }
}

.list-column {
  li {
    list-style: none;
    color: $dark-gray;
    span {
      font-family: $default-font-medium;
      font-size: $base_font_size + 2;
    }
    p {
      margin-top: 25px;
      font-family: $default-font-regular;
      font-size: $base_font_size;
    }
  }
}

/*** 5.4 ***/
.module-ads {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.top-content {
  .comment-item {
    background: $bg-gray;
    padding: 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    h3 {
      margin: 0;
      font-size: $base_font_size + 6;
    }
    .item-info {
      float: right;
      .clock {
        float: left;
        line-height: 27px;
        color: $title_bg;
        font-size: $base_font_size - 3;
        font-family: $default-font-medium;
      }
      .icon-clock {
        width: 40px;
        height: 30px;
        float: left;
      }
      .date-time {
        float: left;
        line-height: 27px;
      }
    }
  }
}

.comment-item {
  h3 {
    .icon-qa1 {
      width: 30px;
      height: 30px;
    }
  }
}

.site-qa-detail {
  .top-content {
    .box-des {
      font-size: $base_font_size - 1;
    }
  }
  .module-profile {
    border: 5px solid $light-yellow;
    padding-bottom: 15px;
    .module-title {
      border: none;
      .icon-comment1 {
        width: 25px;
        height: 25px;
      }
    }
    .comment-item {
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 20px;
        color: $light-black;
      }
    }
  }
}

.module-answer {
  border: 1px solid $input_bg;
  padding-bottom: 30px;
  .comment-profile {
    margin-bottom: 20px;
    h4 {
      margin-bottom: 10px;
    }
  }
  .accent-button {
    font-size: $base_font_size - 2;
    padding: 3px 10px;
    border-radius: 3px;
    margin-left: 15px;
  }
  .profile-lawyer-info {
    span {
      color: $light-black;
      font-size: $base_font_size - 2;
      margin-right: 20px;
      i {
        margin-right: 5px;
        color: $slate-gray;
      }
    }
    .phone {
      color: $dimgray;
    }
  }
  ul {
    padding: 0 20px;
    li {
      color: $dignity-black;
      font-size: $base_font_size - 1;
      line-height: $base_line_height + 3;
    }
  }
  .images-info {
    padding: 0 20px;
    margin: 30px 0 0;
  }
  .date-time {
    text-align: right;
    padding: 0 20px;
    color: $gray;
    font-size: $base_font_size - 3;
    margin: 30px 0 0;
  }
  .al-center {
    a {
      margin-right: 10px;
      i {
        font-size: $base_font_size + 6;
      }
    }
  }
}

.best-answer {
  float: right;
  a {
    font-size: $base_font_size - 1;
  }
}

.box-comment {
  background-color: $bg-green;
  padding: 15px 20px 0;
  margin: 30px 0 20px;
  .title-info {
    color: $dimgray;
    font-size: $base_font_size;
    font-family: $default-font-bold;
  }
  .comment-profile {
    background-color: $white;
    border: 1px solid $input_bg;
    margin-top: 5px;
  }
  .profile-lawyer-info {
    margin-top: 0;
    h4 {
      font-size: $base_font_size - 1;
      margin-bottom: 0;
      span {
        margin-left: 15px;
        color: $gray;
        font-size: $base_font_size - 3;
      }
    }
    span {
      color: $dimgray;
      font-family: $base_font_size - 2;
    }
  }
}

/* Form edit */
.edit-form-wrap {
  .edit-item {
    font-size: $base_font_size - 1;
    font-family: $default-font-medium;
    label {
      float: left;
      width: 170px;
      padding: 6px 0 0;
      text-align: left;
      + p, + div {
        float: left;
        width: calc(100% - 170px);
      }
    }
    span, a {
      display: block;
    }
    span:not(.edit-text) {
      font-family: $default-font-bold;
    }
    a {
      color: #001eff;
      &.edit-link {
        font-size: $base_font_size;
        color: $purple;
      }
    }
    &.item-input {
      label {
        padding: 10px 0 0;
      }
    }
  }
  input {
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    width: 315px;
    padding: 0 10px;
  }
  input {
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    width: 315px;
    padding: 0 10px;
  }
}

/* Form edit card */
.edit-card-wrap {
  .edit-form-wrap {
    padding: 0 107px 0 77px;
    margin: 11px 0 0;
  }
  .edit-item {
    border-bottom: 1px solid $input_bg;
    padding: 0 0 42px 36px;
    margin: 0 0 30px 0;
  }
  .control-group {
    margin-bottom: 10px;
  }
  .download-wrap {
    padding: 0 0 0 24px;
    p {
      margin-bottom: 20px;
    }
  }
  .form-field-checkbox {
    float: left;
    width: calc(50% - 6px);
    &:first-child {
      margin-right: 10px;
    }
    a {
      color: $link;
    }
    .selectBox-dropdown {
      min-width: 195px;
    }
  }
  .form-group {
    margin-bottom: 20px;
  }
  .control-action label {
    font-size: $base_font_size;
    font-family: $default-font-medium;
  }
}

.edit-item {
  .input-group {
    background-color: $input_bg;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 15px;
    &.input-group-special {
      background-color: transparent;
      border: 2px solid $accent;
      .input-group-addon {
        font-size: $base_font_size - 2;
        position: relative;
        &:before {
          background-color: #c3c3c3;
          content: "";
          width: 1px;
          height: 19px;
          position: absolute;
          top: 10px;
          right: -3px;
        }
      }
    }
  }
  .form-control, .input-group-addon {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $gray;
    padding: 0 6px;
  }
  .form-control {
    width: 300px;
  }
}

/* Edit cancel */
.edit-cancel-wrap {
  .lg-button {
    margin: 0 10px 30px 0;
  }
}

/*** legal-edit-plan ***/
.change-contract {
  p {
    font-size: $base_font_size - 1;
    color: $link;
    span {
      color: $accent;
    }
  }
}

.change-contract-table {
  border: 1px solid $input_bg;
  tr {
    border: 1px solid $input_bg;
  }
  th, td {
    padding: 15px 27px;
    font-size: $base_font_size - 1;
    vertical-align: top;
    line-height: 26px;
  }
  th {
    color: $link;
    font-family: $default-font-medium;
  }
  .table-info {
    width: calc(100% - 150px);
  }
  thead {
    background: $input_bg;
    th {
      color: $accent;
      padding: 8px 27px;
    }
  }
}

.btn-change {
  padding: 3px 0;
  max-width: 135px;
}

/*** lawyer point ***/
.point-info {
  p {
    margin: 15px 0;
  }
}

.table-point-info {
  margin: 0 36px;
  &:first-child {
    margin-left: 0;
  }
}

.btn-exchange {
  margin-top: 10px;
}

.point-hadling {
  padding: 10px 15px;
}

.top-point {
  border-bottom: 1px solid $input_bg;
}

.list-history {
  font-size: $base_font_size - 1;
  color: $title_bg;
  .title {
    text-align: left;
    margin-bottom: 20px;
  }
  dd, dt {
    float: left;
  }
  dl {
    padding: 8px 0;
    &:first-child {
      padding-top: 0;
    }
  }
  dd {
    width: 95px;
    padding-right: 25px;
  }
  dt {
    width: calc(100% - 95px);
  }
  .btn-select {
    margin-bottom: 10px;
    .selectBox {
      min-width: 100%;
    }
  }
}

/*** page legal-lawer-info ***/
.system-failure {
  margin-bottom: 28px;
  color: $link;
}

.system-failure-title {
  background: $input_bg;
  padding: 10px 15px;
  span {
    font-family: $default-font-bold;
  }
  .title-point {
    font-size: $base_font_size + 4;
    color: $accent;
  }
}

.system-failure-info {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: $base_font_size - 1;
  min-height: 400px;
  p {
    line-height: 1.5;
    margin-bottom: 18px;
  }
}

/*** use-point ***/
.use-point {
  font-size: $base_font_size - 1;
  p {
    text-align: center;
    margin-bottom: 0;
  }
  .point-question {
    margin-bottom: 22px;
  }
  .btn-point-use {
    margin: 25px 0 20px;
  }
}

/* Chart */
.lg-chart {
  padding: 0 0 0 14px;
}

.lg-chart-table {
  margin: 23px 0 30px;
  padding: 0 32px;
  thead {
    tr {
      background-color: $title_bg;
      color: $white;
      th {
        font-size: $base_font_size - 1;
        padding: 12px;
        text-align: right;
      }
    }
  }
  tbody {
    border: 1px solid $input_bg;
    tr {
      border-bottom: 1px solid $input_bg;
      &:last-child {
        border: none;
      }
    }
    td {
      text-align: right;
      border-left: 1px solid $input_bg;
      font-family: $default-font-bold;
    }
    th, td {
      padding: 21px 12px;
    }
  }
}
/*** lawer-plan ***/
.legal-lawer-plan {
  .sidebar-content {
    p {
      font-size: $base_font_size - 1;
      font-family: $default-font-medium;
    }
  }
}
.lawer-plan {
  label {
    font-family: $default-font-medium;
    font-size: $base_font_size - 1;
  }
}

/*** legal-credit ***/
.legal-credit {
  .control-input {
    label {
      font-size: $base_font_size - 1;
      font-family: $default-font-medium;
      width: 155px;
    }
    .input-group-medium {
      width: calc(100% - 155px);
    }
  }
  .credit-control {
    font-family: $default-font-medium;
    font-size: $base_font_size;
  }
  .btn-select {
    max-width: 170px;
    width: 100%;
    .selectBox-dropdown {
      min-width: 170px;
    }
  }
  .member-login {
    margin-top: 30px;
  }
}
.credit-register {
  margin: 50px auto 15px;
}
.line-credit {
  border-bottom: 1px solid $input_bg;
  margin: 28px 5px 40px;
}
.legal-credit-info {
  margin: 16px 0;
  p {
    margin-bottom: 16px;
  }
}

/*** contactus -list ***/
.contact-list {
  margin-bottom: 25px;
  li {
    background: $input_bg;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid $input_bg;
    width: 100%;
    a {
      font-family: $default-font-demi;
      color: $link;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 42px);
    }
    i {
      font-size: $base_font_size + 6;
      padding-right: 14px;
      width: 28px;
    }
    .date-time {
      margin-right: 15px;
    }
  }
  .contact-list-info {
    background: $white;
    color: $purple;
    a {
      color: $purple;
      font-family: $default-font-bold;
    }
    .date-time {
      font-family: $default-font-regular;
    }
  }
}

/*** contact-detail ***/
.contact-detail {
  .system-failure-title {
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 16px;
    font-family: $default-font-bold;
    .date-time {
      font-family: $default-font-regular;
      margin-right: 10px;
    }
  }
}

/*** Qa-creat ***/
.qa-creat-info {
  background: $input_bg;
  padding: 10px 20px;
  span {
    color: $gray;
    font-size: $base_font_size - 2;
  }
  .date-time {
    color: $link;
    font-family: $default-font-bold;
    margin-bottom: 0;
  }
}
.qa-creat-detail {
  border: 1px solid $input_bg;
  padding: 15px;
  font-size: $base_font_size - 2;
  color: $link;
  margin-bottom: 30px;
}

/* Box confirm */
.box-confirm {
  font-size: $base_font_size - 2;
  .buttons-group {
    a {
      text-align: center;
      margin: 0 0 15px 0;
    }
  }
}
