.admin-page {
  background: none;
}

.admin-content {
  position: relative;
  padding-left: $admin-sidebar-width;
  min-height: calc( 100vh - #{$admin-header-height} );
}

.admin-page-content-wrapper {
  padding: 20px 20px 50px;
}